# Chỉ giữ lại các thư mục rác không cần thiết
node_modules/
drive_video_*
*.mp4
*.flv
*.log
npm-debug.log*
.DS_Store
Thumbs.db
streams_backup.json
bot_config.json

# Bỏ qua nội dung trong các thư mục media nhưng giữ lại thư mục (thông qua file .gitkeep)
videos/*
!videos/.gitkeep

music/*
!music/.gitkeep

outputs/*
!outputs/.gitkeep

temp/*
!temp/.gitkeep

downloads/*
!downloads/.gitkeep
